body {
    margin: 0;
}

nav {
    background: rgb(56, 3, 3);
    color: white;
    padding: 5px;
}

nav ul {
    display: flex;
}

nav ul a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

nav h1 {
    margin-left: 50px;
    border: 2px solid lightgray;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 2px lightgray;
    background: rgb(128, 190, 211);
    color: rgb(56, 3, 3);
}

main {
    margin: 10vh;
}